In [46]:
class indian_clg:
    def __init__(self,Name,clg_name,roll_number,address,branch):
        self.student_name=Name
        self.colege_name=clg_name
        self.roll_number=roll_number
        self.address=address
        self.branch=branch
        print('All information stroed in database successfully')
        
    def deparment_name(self,branch):
        if branch=='e&tc':
            return 'Electronics'
akash=indian_clg('akash','iet_davv','14t2014','indore','e&tc')
akash.deparment_name()

All information stroed in database successfully

TypeError: deparment_name() missing 1 required positional argument: 'branch'

In [44]:
class clg:
    def __init__(self,name,address):
        self.clg_name=name
        self.address=address

class student(clg):
    def __init__(self,name,clg_id):
        super().__init__()
        self.Name=name
        self.id=clg_id
        self.length=len(self.Name)
        
    def __len__(self):
        return self.length
#         print(f"Name of student is {self.Name} and clg id is {self.id}")
        
        
s1=student('akash',1)
s1.__len__()

TypeError: __init__() missing 2 required positional arguments: 'name' and 'address'